.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0;
  width: 1100px;
  font-family: Raleway, Arial, sans-serif;
  margin-top: 92px;
}

/* Контейнер навигации */
.header__menu {
  display: flex;
  width: 391.48px;
  padding: 0;
}

/*контейнер со ссылками меню слева от логотипа*/
.links-list {
  display: flex;
  align-items: center;
  justify-items: end;
  margin-left: 49px;
  list-style-type: circle;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  justify-content: space-between;
  max-width: 391.48px;
  gap: 33px;
  white-space: nowrap;
}

/*логотип по центру в шапке*/
.header__logo-image {
  display: flex;
  align-items: center;
  width: 148px;
  height: 105px;
  background-image: url("../images/logo-black.svg");
  background-repeat: no-repeat;
  background-size: contain; /* вообще так делать не советуют но без этого свойства чет не работает*/
  background-repeat: no-repeat; /* Чтобы картинка не повторялась */
  background-position: center center; 
  padding: 0;
}

/*декорируем ссылки*/
.active_link {
  text-decoration: none; 
  list-style: none; 
}

/* Контейнер с адресом */
.address {  
  width: 240px;
  font-style: normal; 
  font-family: Raleway, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 50px;
  justify-self: end; /*выравниваем как сказано в рекоммендациях*/
  padding: 0;
  text-decoration: none;
  color: black;
  word-spacing: normal;
  font-weight: 100;
  font-size: 18px;
  gap: 3px;
}

.address a {
  text-decoration: none; 
}

/*___________ПОЛЕ ОНО ТЕБЕ НАДО (заголовок с картинкой)______________*/
.cover {
  display: flex;
  flex-direction: column;
  max-width: none;
  width: 100%;
  padding: 0;
  border: 0;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center; /* картинка всегда в центе */
  object-fit: cover; /*что бы картинка не растягивалась и не уходила за рамки флекс-бокса*/
  color: black;
  min-height: 757px;
  margin-top: 96px;
}

.fogging_lesn {
  background-color: rgba(0, 0, 0, 0.6); /* затемняющий слой */
  background-blend-mode: multiply;
}

.cover_text {
  display: flex;
  max-width: none;
  width: 100%;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 165px;
  color: #ffffff;
  font-family: Raleway, Arial, sans-serif;
}

.cover_title_top {
  display: flex;
  margin-left: 49px;
  justify-content: flex-start;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover_title_middle {
  display: flex;
  justify-content: center;
  margin-left: 28px;
  margin-top: 17px;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover_title_bottom {
  display: flex;
  margin-top: 17px;
  margin-right: 21px;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*строка рядом с кнопкой ниже главного текста в центральном блоке*/
.description {
  display: flex;
  margin: 48px;
  align-items: center;
  text-wrap: nowrap;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
  color: #ffffff;
  column-gap: 25px;
}

/*кнопка на главной странцие в центральном блоке*/
.button_bid {
  margin-left: 80px;
  order: 5;
  border: 1px;
  border-color: currentColor;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
}

/*ПОЛЕ КАРТОЧЕК*/
/*стилизация заглавие блока ЛОТЫ */
.lots_block_name {
  margin-top: 181px;
  max-width: 1052px;
  margin-bottom: 26px;
  display:flex;
  margin-left: 63px;
  text-align: start;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

/*любая карточка блока лоты с текстом и тайтлом - блок одной карточки лоты*/
.lots {
  display: flex;
  flex-grow: 1;
  column-gap: 25px;
  flex-wrap: wrap;
  row-gap: 25px;
  margin-left: 23px;
}

/*размеры карточек, позиционирование картинки и работа с фоном*/
.lot_dimension {
  display:flex;
  min-height: 596px;
  width: 334px;
  height: 100%;
  background-size: cover;
  background-position: center; 
}

/*можно сделать через important в .lots_card-text но так как то удобнее - настройка убирает подчеркивание текста в карточке*/
.cards_nounderline {
  display: flex;
  text-decoration: none;
  border-bottom: none;
  position: relative;
  flex-wrap: wrap;
}

/*заглавие статьи в самой карточке*/
.lost_card_header {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 48px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-color: white;
}

/*текст самой карточки без заголовка в блоке ЛОТЫ*/
.lots_card-text {
  align-items: center;
  color: #ffffff;
  margin-bottom: 49px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  display: flex;
  align-items: flex-end;
}

/*КАРТОЧКА с фотографией разговора двух людей*/
.lot_card-conversation {
  background-image: url(../images/card-lot-01.jpg);
}

/*КАРТОЧКА с обложкой книги*/
.lot_card-book {
  background-image: url(../images/card-lot-02.jpg);
}

/*КАРТОЧКА с абстрактным рисунком*/
.lot_card-abstract {
  background-image: url(../images/card-lot-03.jpg);
}

/*ссылка под карточками*/
.lots_link-more {
  display: flex;
  margin-top: 32px;
  margin-left: 62px;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 90px;
}

/*секция ABOUT*/
.about {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  max-width: 1100px;
}

.about__logo-image {
  width: 60%; /* размер изображения */
  height: auto;
  object-fit: contain; /* не обрезает вписанное изображение */
}

/*заглавие*/
.about__title {
  margin-top: 165px;
  margin-left: 72px;
  grid-row-start: 1;
  grid-column-start: 2;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_paragraph {
  margin-left: 71px;
  grid-column-start: 2;
  grid-row-start: 2;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-right: 28px;
  margin-top: 8px;
  margin-bottom: 10px;
}

/*отступ между параграфами*/
.about p {
  margin-bottom: 24px;
}

.about__logo {
  grid-column-start: 1; /* Первая колонка */
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 240px;
  background-color: #000000;
  border-radius: 50%; /* делаем круг */
  overflow: hidden;
  margin-top: 63px;
  margin-left: 71px;
}

/*секция FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr;
  max-width: 1100px;
  margin-top: 148px;
  padding: 0; 
}

.address_footer-alighment{
  margin-right: 62px;
}

.footer_menu {
  padding: 0;
  text-align: left;
  margin-bottom: 115px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 397px;
  list-style-type: none;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__social-list {
  display: flex;
  grid-area: 1 / 3;
  margin-left: 50px;
  column-gap: 38px;
  align-content: center;
  flex-direction: row;
  align-items: stretch;
  margin-right: 51px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 10px;
}

.youtube {
  background-image: url(../images/yt.svg);
}

.vkontakte {
  background-image: url(../images/vk.svg);
}

.pinterest {
  background-image: url(../images/pinterest.svg);
}
